# Basic Data Type (int, float, complex, str, bool, None) - immutable

In [10]:
a = 10 # intern
b = 10 # intern
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
4344616352
4344616352

In [29]:
a = 257 # no intern
b = 257 # no intern
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
False
140401412303888
140401412304176

In [34]:
a = 'hello' # intern
b = 'hello' # intern
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
140401552034160
140401552034160

In [35]:
a = 'hello!' # no intern
b = 'hello!' # no intern
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
False
140401551988528
140401551987504

In [9]:
try:
    a = 'hello!' 
    a[0] = 'H' # strings are immutable
except TypeError as e:
    print(e)

'str' object does not support item assignment

In [36]:
a = True # intern
b = True # intern
print(a == b)
print(a is b)

True
True

In [37]:
a = None # intern
b = None # intern
print(a == b)
print(a is b)

True
True

# Container: tuple, frozenset - immutable

In [4]:
try:
    a = (1, 2, 3)
    a[0] = 10 # tuples are immutable
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [5]:
try:
    a = frozenset([1,2,3,1,2,3,1,2])
    a.add('v') # frozensets are immutable
except AttributeError as e:
    print(e)

'frozenset' object has no attribute 'add'

# Container: list, dict, set - mutable

In [1]:
a = [1, 2, 3]
print(f'a : {a}, 아이덴티티 : {id(a)}')
a.append(4)
print(f'a : {a}, 아이덴티티 : {id(a)}')

a : [1, 2, 3], 아이덴티티 : 140401551890464
a : [1, 2, 3, 4], 아이덴티티 : 140401551890464

In [2]:
a = {'one' : 1, 'two' : 2}
print(f'a : {a}, 아이덴티티 : {id(a)}')
a['three'] = 3
print(f'a : {a}, 아이덴티티 : {id(a)}')

a : {'one': 1, 'two': 2}, 아이덴티티 : 140401412284976
a : {'one': 1, 'two': 2, 'three': 3}, 아이덴티티 : 140401412284976

In [3]:
a = {1,2,3,1,2,3}
print(f'a : {a}, 아이덴티티 : {id(a)}')
a.add(4)
print(f'a : {a}, 아이덴티티 : {id(a)}')

a : {1, 2, 3}, 아이덴티티 : 140401412432672
a : {1, 2, 3, 4}, 아이덴티티 : 140401412432672

# tuple is immutable, but items in tuple can be mutable

In [17]:
a = (1, [1, 2, 3], 'Hello')
try:
    a[1] = 'Hi'
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [15]:
a = (1, [1, 2, 3], 'Hello')
print(a)
print('-'*50)

a[1][0] = 'one'
print(a)

(1, [1, 2, 3], 'Hello')
--------------------------------------------------
(1, ['one', 2, 3], 'Hello')