# append vs list concatenation

In [1]:
a = [1,2,3] # both are same object
print(a, id(a))
a.append(4) # both are same object (mutate object)
print(a, id(a))

[1, 2, 3] 140267995393392
[1, 2, 3, 4] 140267995393392

In [2]:
b = [1,2,3] # they are different object
print(b, id(b))
b = b + [4] # they are different object (copy object)
print(b, id(b))

[1, 2, 3] 140268538581152
[1, 2, 3, 4] 140268805045456

# extend vs list concatenation

In [3]:
a = [1,2,3] # both are same object
print(a, id(a))
a.extend([4,5,6]) # both are same object (mutate object)
print(a, id(a))

[1, 2, 3] 140268804908288
[1, 2, 3, 4, 5, 6] 140268804908288

In [4]:
b = [1,2,3] # they are different object
print(b, id(b))
b = b + [4,5,6] # they are different object (copy object)
print(b, id(b))

[1, 2, 3] 140268538378032
[1, 2, 3, 4, 5, 6] 140267461500592

# clear, pop, remove, del vs list comprehension

Remove all items: clear()

Remove an item by index and get its value: pop()

Remove an item by value: remove()

Remove items by index or slice: del

Remove multiple items that meet the condition: List comprehensions

[Remove an item from a list in Python (clear, pop, remove, del)](https://note.nkmk.me/en/python-list-clear-pop-remove-del/)

In [5]:
a = [1,2,3,1,2,3] # both are same object
print(a, id(a))
a.clear() # both are same object (mutate object)
print(a, id(a))

[1, 2, 3, 1, 2, 3] 140268538534000
[] 140268538534000

In [6]:
a = [1,2,3,1,2,3] # both are same object
print(a, id(a))
a.pop() # both are same object (mutate object)
print(a, id(a))

[1, 2, 3, 1, 2, 3] 140267995392832
[1, 2, 3, 1, 2] 140267995392832

In [7]:
a = [1,2,3,1,2,3] # both are same object
print(a, id(a))
a.remove(3) # both are same object (mutate object)
print(a, id(a))

[1, 2, 3, 1, 2, 3] 140267995335888
[1, 2, 1, 2, 3] 140267995335888

In [8]:
a = [1,2,3,1,2,3] # both are same object
print(a, id(a))
del a[-3:] # both are same object (mutate object)
print(a, id(a))

[1, 2, 3, 1, 2, 3] 140267995396688
[1, 2, 3] 140267995396688

In [9]:
b = [1,2,3,1,2,3] # they are different object
print(b, id(b))
b = [i for i in b if i != 3] # they are different object (copy object)
print(b, id(b))

[1, 2, 3, 1, 2, 3] 140268538372336
[1, 2, 1, 2] 140267461500592

# sort vs sorted

In [10]:
a = [1,2,3,1,2,3] # both are same object
print(a, id(a))
a.sort() # both are same object (mutate object)
print(a, id(a))

[1, 2, 3, 1, 2, 3] 140268538370400
[1, 1, 2, 2, 3, 3] 140268538370400

In [11]:
b = [1,2,3,1,2,3] # they are different object
print(b, id(b))
b = sorted(b) # they are different object (copy object)
print(b, id(b))

[1, 2, 3, 1, 2, 3] 140267995397568
[1, 1, 2, 2, 3, 3] 140267461500592

In [12]:
a = [1,2,3,1,2,3] # both are same object
print(a, id(a))
a.sort(reverse=True) # both are same object (mutate object)
print(a, id(a))

[1, 2, 3, 1, 2, 3] 140268538376512
[3, 3, 2, 2, 1, 1] 140268538376512

In [13]:
b = [1,2,3,1,2,3] # they are different object
print(b, id(b))
b = sorted(b, reverse=True) # they are different object (copy object)
print(b, id(b))

[1, 2, 3, 1, 2, 3] 140268538376272
[3, 3, 2, 2, 1, 1] 140267461500592

# reverse

In [14]:
a = [1,2,3,1,2,3] # both are same object
print(a, id(a))
a.reverse() # both are same object (mutate object)
print(a, id(a))

[1, 2, 3, 1, 2, 3] 140268804959680
[3, 2, 1, 3, 2, 1] 140268804959680